{% extends "content/base.html" %}
{% load static %}

{% block title %}
    Top Artists
{% endblock %}

{% block header %}
    Top Artists
{% endblock %}

{% block content %}
    <h5>Artists</h5>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Artist</th>
            <th scope="col">No of time played this month</th>
          </tr>
        </thead>
        <tbody>
            {% for artist in artists|slice:":500" %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ artist.name }}</td>
                    <td>{{ artist.play_counts }}</td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
{% endblock %}
